.cards {
  padding: 4rem;
  margin-top: 60px;
}

.container__main {

  background-color: #f4f0ed;

  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;


}




.cards__container {
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 1120px;
  width: 120%;
  margin: 0 auto;
}

.cards__wrapper {
  position: relative;
  margin: 50px 0 45px;
}

.cards__items {
  margin-bottom: 24px;
}

.cards__item {
  display: flex;
  flex: 1;
  margin: 0 1rem;
  border-radius: 10px;
  background-color: white;
  box-shadow: 1px 1px 1px 0 rgb(53 39 39);
  min-width: 350px;
}

.cards__item__link {
  display: flex;
  flex-flow: column;
  width: 100%;
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;
}

.cards__item__pic-wrap {
  position: relative;
  width: 100%;
  padding-top: 67%;
  overflow: hidden;
}

.fade-img {
  animation-name: fade-img;
  animation-duration: 2s;
}

.cards__item__pic-wrap::after {
  content: attr(data-category);
  position: absolute;
  bottom: 0;
  margin-left: 10px;
  padding: 6px 8px;
  max-width: calc((100%) - 60px);
  font-size: 12px;
  font-weight: 500;
  color: #fff;
  background-color: #000000;
  box-sizing: border-box;
}

.cards__item__img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
  transition: all 0.2s linear;
}

.cards__item__img:hover {
  transform: scale(1.1);
}

.cards_cont {
  padding: 20px 30px 30px;
  height: 100%;
}

.cards__item__text {
  color: #252e48;
  font-size: 18px;
  line-height: 24px;
}

@media only screen and (min-width: 1200px) {
  .content__blog__container {
    width: 84%;
  }
}

@media only screen and (min-width: 1024px) {
  .cards__items {
    display: flex;
  }
}

@media only screen and (max-width: 1024px) {
  .cards__item {
    margin-bottom: 2rem;
  }
}




p {
  margin: 0 0 11px;
}

.cards__item__text {
  color: #1a1a1a;
  font-family: "Proxima Nova", Sans-Serif;
  font-weight: 800;
  margin: 0;
}


.tour_card_description {
  font-family: "Proxima Nova", Sans-Serif;
  font-weight: 200;
  color: #404040;
  font-size: 18px;
  line-height: 1.33;
  margin-bottom: 0;
  margin-top: 28px;
}


.rating {
  margin-top: 20px;
}



.star-rating span {
  color: #f5a623;
  margin: 0.1rem;
}

.star-rating span:last-child {
  color: black;

}






.tour-card__details {
  border-top: 1px solid #d8d8d8;
  display: flex;
  height: 60px;
}


.tour-detail {
  color: #1a1a1a;
  display: flex;
  flex: 1 1 0;
  flex-direction: column;
  justify-content: center;
  padding: 18px 0 16px 0;
  text-align: center;
}

.tour-detail__text {
  font-size: 16px;
  margin-bottom: 5px;
}


.text--body {
  color: #404040;
  font-family: "Proxima Nova", Sans-Serif;
  margin: 0;
}


.label {
  font-family: "Proxima Nova", Sans-Serif;
  letter-spacing: 0.1em;
  line-height: 1.1;
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 0;
  font-weight: 600;
}


.action-button {
  background-color: #013d48;
  border: 1px solid #013d48;
  border-radius: 0;
  color: white;
  font-family: "Proxima Nova", Sans-Serif;
  letter-spacing: 0.1em;
  line-height: 1.1;
  text-transform: uppercase;
  appearance: none;
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  font-weight: bold;
  margin: 0;
  padding: 21px 25px;
  text-align: center;
  width: 40%;
}


.tour-detail+.tour-detail {
  border-left: 1px solid #d8d8d8;
}


.tour-card__favorite {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 2;
}


.favorite-toggle {
    appearance: none;
    background-color: transparent;
    border: 0;
    margin: 10px;
    padding: 0;
    text-align: left;
    align-items: center;
    background-color: rgba(255,255,255,0.8);
    box-shadow: 0px 0px 5px 1px rgb(0 0 0 / 30%);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    height: 40px;
    justify-content: center;
    transition: all 150ms linear;
    width: 40px;
}


.sroll-horizontal {
  width: 1120px;
  height: 400px;
}

.bg {
  background-color: burlywood;
  margin-right: 10px;
}


.head_text_tours {

  color: #3a3a3a;
  font-size: 3rem;
  font-weight: 600;
  max-width: 400px;
  margin: 50px auto 20px;
  text-align: center;
}