@media screen and (min-width: 992px) {
  .container--no-bs {
    
  }
  .booking__container {
    display: flex;
    justify-content: center;
/*     left: 0; */
    position: absolute;
   /*  right: 5%; */
    top: 520px;
    width: 100%;
/*     max-width: 1170px; */
    margin-left: auto;
    margin-right: auto;
  }

  .booking {
    /*     box-shadow: 0 2px 3px 0 rgb(0 0 0 / 20%); */
    display: flex;
    height: 120px;
    flex-direction: row;
    flex: 1 1 auto;
    background-color: white;
  }

  .form-incrementer__input__booking {
    font-size: 24px;
  }

  .booking__section__bottom {
    flex: 0 0 0;
    text-align: center;
    padding-left: 0;
    margin-bottom: 5px;
    width: 250px;
  }

  .booking__section{
    border: 1px solid #c2c2c2;
    flex-direction: column;
    flex-basis: 20%;
  }


  .booking__section__top {
    margin-top: 30px;
    justify-content: center;
    text-align: center;
  }










  .booking__action {
      flex: 0 0 0;
    /*   flex-basis: 187px; */
  }

  .booking__input {
    text-align: center;
    font-size: 24px;
}
/* 
  .booking__btn::after {

    transform: rotate(270deg);
    left: 0;
    bottom: 0;
    margin: 0;
} */

}


/* .booking__btn::after {
  position: absolute;
  bottom: 43px;
  left: -215px;
  right: 0;
  margin: auto;
  width: 16px;
  border: 16px solid transparent;
  border-bottom-color: black;
  content: "";
  -webkit-transition: border-bottom-color 150ms linear;
  transition: border-bottom-color 150ms linear;

} */




.booking__pax-container {
  display: flex;
  justify-content:center;
  align-items: center;
}


.form-incrementer__input__booking {
  font-size: 16px;
  width: 25%;
  padding-left: 17px;
 
}

.booking__section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.booking__btn {
  font-family: "Proxima Nova", Sans-Serif;
  letter-spacing: 0.1em;
  line-height: 1.1;
  text-transform: uppercase;
  appearance: none;
  position: relative;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 1px 60px;
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: black;
  border: 1px solid black;
}



.booking__input {
  border: none;
  font-weight: normal;
  outline: none;
  width: 90%;
  font-size: 16px;
  text-align: center;
}


.label {
  font-family: "Proxima Nova", Sans-Serif;
  letter-spacing: 0.1em;
  line-height: 1.1;
  text-transform: uppercase;
  font-size: 13px;
  margin-bottom: 0;
  font-weight: 600;
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}




.form-incrementer__input {
  border: none;
  font-weight: normal;
  outline: none;
  text-align: center;
  margin-left: 2px;
}




.form-incrementer__btn {
  border: none;
  font-weight: normal;
  outline: none;
  width: 100%;
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 24px;
  outline: none;
  padding: 0px;
  width: 24px;
}



*::before, *::after {
  
  box-sizing: border-box;
}


.Dropdown-root {
  margin-top: -10px;
  border: none;
}
