@media screen and (min-width: 992px) {
  .container--no-bs {
    
  }
  .booking__container {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 520px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .booking {
    box-shadow: 0 2px 3px 0 rgb(53, 39, 39); 
    display: flex;
    height: 120px;
    flex-direction: row;
    flex: 1 1 auto;
    background-color: white;
  }

  .form-incrementer__input__booking {
    font-size: 24px;
  }

  .booking__section__bottom {
    flex: 0 0 0;
    text-align: center;
    padding-left: 0;
    margin-bottom: 5px;
    width: 250px;
  }

  .booking__section{
    border: 1px solid #c2c2c2;
    flex-direction: column;
    flex-basis: 20%;
  }


  .booking__section__top {
    margin-top: 30px;
    justify-content: center;
    text-align: center;
    width: 212px;
  }

  .booking__section__top_city {
    margin-top: 30px;
    justify-content: center;
    text-align: center;
    width: 212px;
  }

  .booking__action {
      flex: 0 0 0;
  }

  .booking__input {
    text-align: center;
    font-size: 24px;
  }


}









@media screen and (max-width: 991px) {
  .booking__container {

    box-shadow: none;
    min-width: 290px;
    border-radius: 4px;
    background-color: white;
    position: absolute;
    z-index: 5;
    top: 582px;
    transform: translate(-50%, -50%);
    left: 50%;
}

  .booking__section {
    display: -ms-flexbox;
    display: flex;
    flex: 0 0 100%;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    border: 1px solid #c2c2c2;
    height: 60px;
  }

  .booking__section__top {
    display: flex;
    flex: 0 1 auto;
    align-items: center;
    justify-content: flex-end;
    height: 60px;
    padding-right: 20px;
  }
  
  .booking__section__bottom {
    text-align: left;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    padding-left: 20px;
  }


  .booking {
    width: 750px;
    margin: 0 auto;
    box-shadow: 0 2px 3px 0 rgb(53, 39, 39); 
  }

  .booking__section__top_city {
    display: flex;
    flex: 0 1 auto;
    align-items: center;
    justify-content: flex-end;
    height: 60px;
    padding-right: 20px;
    padding-top: 10px;
    padding-right: 53px;
  }


  .booking-bar__pax-container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-flex-align: center;
    align-items: center;
}

  .form-incrementer__btn {
    display: inline-block;
  }

  
.booking__pax-container {
  display: flex;
  justify-content:center;
  align-items: center;
  margin-right: -40px;
}

}















.booking__pax-container {
  display: flex;
  justify-content:center;
  align-items: center;
}


.form-incrementer__input__booking {
  font-size: 16px;
  width: 25%;
  padding-left: 17px;
 
}

.booking__section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.booking__btn {
  font-family: "Proxima Nova", Sans-Serif;
  letter-spacing: 0.1em;
  line-height: 1.1;
  text-transform: uppercase;
  appearance: none;
  position: relative;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 1px 60px;
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: black;
  border: 1px solid black;
}



.booking__input {
  border: none;
  font-weight: normal;
  outline: none;
  width: 90%;
  font-size: 16px;
  text-align: center;
}


.label {
  font-family: "Proxima Nova", Sans-Serif;
  letter-spacing: 0.1em;
  line-height: 1.1;
  text-transform: uppercase;
  font-size: 13px;
  margin-bottom: 0;
  font-weight: 600;
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}




.form-incrementer__input {
  border: none;
  font-weight: normal;
  outline: none;
  text-align: center;
  margin-left: 2px;
}




.form-incrementer__btn {
  border: none;
  font-weight: normal;
  outline: none;
  width: 100%;
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 24px;
  outline: none;
  padding: 0px;
  width: 24px;
}



*::before, *::after {
  
  box-sizing: border-box;
}


.Dropdown-root {
  margin-top: -10px;
  border: none;
}
