.table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  word-wrap:break-word;
  table-layout: fixed;
}
.table tbody tr:nth-of-type(odd) {
  background-color: #f4f4f4;
}
.table td,
.table th {
  text-align: center;
  border: 0.1rem solid #e4e4e4;
  padding: 0.2rem;
}
.table button {
  margin: 0 0.2rem;
}

button.small {
  font-size: 1.2rem;
}

.orderList {
  margin: 30px 100px 100px 100px;
}

.tourList {
  margin: 30px 100px 100px 100px;
}


.btn_details_order {
  background-color: #126472;
  border: 3px solid #013d48;
  border-radius: 4px;
  color: white;
  font-family: "Proxima Nova", Sans-Serif;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  margin: 0;
  padding: 12px 40px;
  margin-right: 10px;
  text-align: center;
  text-decoration: none;
}

.btn_details_admin {
  background-color: #126472;
  border: 3px solid #013d48;
  border-radius: 4px;
  color: white;
  font-family: "Proxima Nova", Sans-Serif;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  margin: 0;
  padding: 12px 40px;
  margin-right: 10px;
  text-align: center;
  text-decoration: none;
  width: 150px;
}