/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
 */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
}

.top-image {
    background-image: url('./images/img-2.jpg');
    align-items: center;
    background-color: #013d48;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    position: relative;
    text-align: center;
    height: 500px;
}

.home-image__title-text {
    color: white;
    display: block;
    font-family: "Times New Roman", Serif;
    font-size: 66px;
    font-style: normal;
    letter-spacing: -1px;
    line-height: 72px;
    font-weight: 50;
}

.hero-grid {
    align-items: center;
    flex-direction: row;
    padding: 45px 0;
    background-color: #013d48;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column-reverse;
    overflow: hidden;
}

.text-center  {
  color: white;
  font-size: 50px;
  letter-spacing: -0.5px;
  line-height: 1.05;
  font-family: "Times New Roman", Serif;
  font-weight: normal;
  margin: 0;
  text-align: center;
}

.text-center2  {
  color: white;
  font-size: 35px;
  letter-spacing: -0.5px;
  line-height: 1.05;
  font-family: "Times New Roman", Serif;
  font-weight: normal;
  margin: 0;
  text-align: center;
}

.hero-grid__favorite {
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 2;
}

img {
    max-width: 100%;
    vertical-align: middle;
    width: 100%;
}

.grid {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 45px 0;
    background-color: #013d48;
    overflow: hidden;
}

.grid__section {
    flex: 1 0 50%;
    display: flex;
    position: relative;
    align-items: center;
}

.grid__content__container {
    max-width: 585px;
    margin: auto;
    margin-right: 100px;
}

.grid__content {
    color: white;
    margin: 0 auto;
    margin-left: 100px;
}

.text--headline--neutral-white {
    color: white;
    font-size: 60px;
    letter-spacing: -0.5px;
    line-height: 1.05;
    font-family: "Times New Roman", Serif;
    font-weight: normal;
    margin: 0;
    text-align: center;
}



.grid__wrap {
    height: 100%;
    position: relative;
    width: auto;
}

.grid__gallery-button {
    appearance: none;
    background-color: transparent;
    border: 0;
    padding: 0;
    height: 100%;
    position: relative;
    transition: all 150ms linear;
    width: 70%;
    margin-left: 5em;
}

.grid__image {
    height: 100%;
    width: auto;
    object-fit: cover;
    object-position: center;
    transition: all 0.2s ease-in-out;
}


.grid__image:hover {

  opacity: 0.8;
  background-color: rgba(0, 0, 0, 0.35); /* Фон блока при наведении */
  transition: all 0.2s ease-in-out;
  
}

img {
    max-width: 100%;
    vertical-align: middle;
    width: 100%;
}

  

.alert {
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
}

.alert-info {
  
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  color:rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}

.alert-danger {
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  margin: auto;
  color:brown;
  background-color: thistle;
}

.alert-success {
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  background-color: #bef095;
  margin-bottom: 20px;
}

.action-button-tour {
  width: 100%;
  margin-top: 50px;
  background-color: #126472;
  border: 1px solid #08525f;
  border-radius: 0;
  color: white;
  font-family: "Proxima Nova", Sans-Serif;
  letter-spacing: 0.1em;
  line-height: 1.1;
  appearance: none;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  margin: 0;
  padding: 15px 25px;
}


.message_box_tour {
  width: 20%;

  margin: auto;
  margin-top: 50px;
}



.btn_auth_navbar {
  background-color: #126472;
  border: 3px solid #013d48;
  border-radius: 4px;
  color: white;
  font-family: "Proxima Nova", Sans-Serif;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  appearance: none;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  margin: 0;
  padding: 12px 40px;
  margin-right: 10px;
  text-align: center;
  text-decoration: none;
}





/* Card */
.card {
  border: 0.1rem #c0c0c0 solid;
  background-color: #f8f8f8;
  border-radius: 0.5rem;
  margin: 1rem;
}
.card-body {
  padding: 1rem;
}
.card-body > * {
  margin-bottom: 0.5rem;
}
.price {
  font-size: 2rem;
}


#fileUpdate {
  padding-top: 13px;
}









.scroll2 {
  font-family: sans-serif;
  width: 1320px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.scroll_ul{
  display: flex;
  padding: 15px;
  list-style: none;
  max-width: 100%;
  overflow-x: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  
}



button{
  border: 0;
  color: #777;
  font-size: 24px;
  margin: 0 8px;
}


.fa-angle-right {
  margin-left: 30px;
}

.fa-angle-left {
  margin-right: 30px;
}

.fa-search {
  background-color: black;
}

.search-icon-svg {

  fill: currentColor;
  margin-right: 5px;

  height: 30px;
  vertical-align: middle;
  width: 19px;
  color: #f8f8f8;
}








.svg-icon.search-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 11px;
  margin-top: 9px;
}







.header_text_search {
  padding-top: 80px;
  padding-bottom: 50px;
  font-size: 48px;
  line-height: 1.1;
  color: #1a1a1a;
  font-family: "Times New Roman", Serif;
  font-weight: normal;
  margin: 0;
}

a {
  color: #013d48;
  text-decoration: none;
}

.href_search_result {
  font-size: 24px;
  line-height: 1.25;
}

.href_search_result:hover {
  text-decoration: underline;
}

.search_text_body {
  color: #404040;
  font-family: "Proxima Nova", Sans-Serif;
  margin-top: 10px;
  margin-bottom: 30px;
}

.search_div {
  padding-bottom: 80px;
  background-color: #f4f0ed;
  min-height: 700px;
}

.header_section_ {
  padding-top: 150px;
  text-align: center;
  max-width: 350px;
  margin: auto;
}


#comment  {
  width: 100%;
  font-size: 18px;
  font-family: "Times New Roman", Serif;
  padding: 20px;
}

#rating { 
  width: 100%;
  font-size: 18px;
  font-family: "Times New Roman", Serif;
  padding: 20px;
}

option {
  font-size: 18px;
  font-family: "Times New Roman", Serif;
  padding: 20px;
}

input {

  font-family: "Times New Roman", Serif;

}

aside {
  position: fixed;
  width: 30rem;
  height: 100%;
  background-color: #efefef;
  z-index: 1000;
  transform: translateX(-30rem);
  transition: all 0.5s;
}
aside.open {
  transform: translateX(0);
}
button.open-sidebar {
  font-size: 3rem;
  padding: 0.2rem 0.5rem;
  margin: 0 0.5rem;
  background: none;
  color: #ffffff;
  cursor: pointer;
}
button.open-sidebar:hover {
  border-color: #ffffff;
}
aside ul {
  padding: 0;
  list-style: none;
}
aside li {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
button.close-sidebar {
  padding: 0.3rem 0.8rem;
}






.sidebar_link {
  display: flex;
  color: #e1e9fc;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  list-style: none;
  height: 60px;
  text-decoration: none;
  font-size: 18px;
}

.sidebar_link:hover {
  background: #252831;
  border-left: 4px solid #632ce4;
  cursor: pointer;
}

.sidebar_label {
  margin-left: 16px;
}

.Dropdown_Link {
  background: #414757;
  height: 60px;
  padding-left: 3rem;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #f5f5f5;
  font-size: 18px;
}

.Dropdown_Link:hover {
  background: #632ce4;
  cursor: pointer;
}


.nav_item {
  background: #1b1a1a;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nav_icon_link {
  margin-left: 2rem;
  font-size: 2rem;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.div_sidebar_wrap {
  width: 100%;
  background-color: #1b1a1a;
  overflow-y: scroll;
}


.div_sidebar_wrap::-webkit-scrollbar {
  width: 0;
  height: 0;
}


.card__name {
  color: #1a1a1a;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.3;
  padding-bottom: 10px;
}

.pagination {
  margin-left: 495px;
}

.pagination a {
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
  border: 0.1rem #a4a4a4 solid;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.pagination a.active {
  font-weight: bold;
}







/*custom font*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);

/*basic reset*/
* {margin: 0; padding: 0;}

html {
	height: 100%;
	/*Image only BG fallback*/
	
	/*background = gradient + image pattern combo*/
  background-color: #f4f0ed;
}

body {
	font-family: montserrat, arial, verdana;
}
/*form styles*/
#msform {
	width: 400px;
	margin: 50px auto;
	text-align: center;
	position: relative;
  min-width: 550px;
  min-height: 600px;
}
#msform fieldset {
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;
  min-height: 250px;
	/*stacking fieldsets above each other*/
	position: relative;
  min-height: 412[x];
}
/*Hide all except first fieldset*/
/* #msform fieldset:not(:first-of-type) {
	display: none;
} */
/*inputs*/
#msform input, #msform textarea {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
}
/*buttons*/
#msform .action-button {
	width: 100px;

	font-weight: bold;
	color: white;
	border: 0 none;

	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;

  background-color: #126472;

  border-radius: 4px;
  margin-top: 70px;
  font-family: "Proxima Nova", Sans-Serif;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  -webkit-appearance: none;
  appearance: none;

  display: inline-block;
  font-size: 12px;




  text-align: center;
  text-decoration: none;

}
#msform .action-button:hover, #msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #126472;
}

/*headings*/
.fs-title {
	font-size: 21px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 40px;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 19px;
	color: #666;
	margin-bottom: 15px;
  margin-top: 20px;
}
/*progressbar*/
#progressbar {
	margin-bottom: 70px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}
#progressbar li {
	list-style-type: none;
	color: white;
	text-transform: uppercase;
	font-size: 9px;
	width: 33.33%;
	float: left;
	position: relative;
  width: 77px;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 40px;
  height: 40px;
	line-height: 40px;
	display: block;
	font-size: 18px;
	color: #013d48;
	background: white;
  border-radius: 5px;
	margin: 0 auto 5px auto;
  border: 1px solid black;
  
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: white;
	position: absolute;
	left: -50%;
  top: 16px;
	z-index: -1; /*put it behind the numbers*/
  height: 8px;
  border: 0.1px solid black;
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: #126472;
	color: white;
}



.hideFieldset {
  display: none;
}









.slider {
  position: relative;
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.image {

  height: 600px;
  border-radius: 10px;
  object-fit: cover;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}


.error-validate {
  color: red;
  margin-top: 5px;
}

/* ChatBox */



.chatbox {
   color: #000000;
   position: fixed;
   right: 1rem;
   bottom: 1rem;
 }
 .chatbox ul {
   overflow: scroll;
   max-height: 20rem;
   min-height: 10rem;
 }
 .chatbox li {
   margin-bottom: 1rem;
 }
 .chatbox input {
   width: calc(100% - 9rem);
 }
 
 .grid-support {
   padding-top: 60px;
   display: grid;

   grid-template-columns: 1fr;
   margin: auto;
   
   max-width: 1300px;
 }

 .support-users {
   background: #f0f0f0;
   height: 100%;
   margin-top: 50px;
 }
 .support-users li {
   background-color: #f8f8f8;
 }
 .support-users button {
   background-color: #126472;
   border: 1px solid black;
   text-align: center;
 }

 .btn-support {
    
 }

 .support-users li {
   margin: 0;
   background-color: #f0f0f0;
   border-bottom: 0.1rem #c0c0c0 solid;
 }
 
 .support-users li:hover {
   background-color: #f0f0f0;
 }
 .support-users li.selected {
   background-color: #c0c0c0;
 }
 .support-messages {
   padding: 1rem;
 }
 .support-messages input {
   width: calc(100% - 9rem);
 }
 .support-messages ul {
   height: 400px;
   max-height: 600px;
   overflow: scroll;
 }
 .support-messages li {
   margin-bottom: 6px;
 }
 
 .support-users span {
   width: 2rem;
   height: 2rem;
   border-radius: 50%;
   position: absolute;

   margin-top: 5px;
 }
 .support-users .offline {
   background-color: #808080;
 }
 .support-users .online {
   background-color: #20a020;
 }
 .support-users .unread {
   background-color: #f02020;
 }


 .btn-user-chat {
    padding: 5px;
 }

 .row .fa-window-close {
    padding-left: 30px;

 }

 .chatbox .fa-comment-alt {
   font-size:60px;

   margin: 10px 10px 21px -81px;
 }


 .btn_coordinate {
   background-color: #126472;
   border: 3px solid #013d48;
   border-radius: 4px;
   color: white;
   font-family: "Proxima Nova", Sans-Serif;
   letter-spacing: 0.1em;
   text-transform: uppercase;
   -webkit-appearance: none;
   appearance: none;
   cursor: pointer;
   display: inline-block;
   font-size: 12px;
   font-weight: bold;
   margin: 0;
   padding: 12px 40px;
   margin-right: 10px;
   text-align: center;
   text-decoration: none;
   width: 270px;
 }